<section class="section inicio">
  <div class="container text-center">

    <h1>Bem-vindo(a) ao Crochê Vane Alves</h1>
    <p>Peças artesanais feitas com amor, talento e criatividade.</p>

    <div class="inicio-buttons">
      <a routerLink="/pecas" class="btn">
        <i class="fa-solid fa-border-all"></i> Ver Peças
      </a>

      <a routerLink="/encomendas" class="btn-outline">
        <i class="fa-solid fa-bag-shopping"></i> Fazer Encomenda
      </a>

      <a routerLink="/aulas" class="btn">
        <i class="fa-solid fa-chalkboard-user"></i> Aulas & Tutoriais
      </a>
    </div>
  </div>
</section>

<section class="section galeria">
  <div class="container text-center">
    
    <h2>Categorias de Criações</h2>

    <div class="carousel">
      <div class="carousel-track">

        <ng-container *ngFor="let i of [1,2]">
          <div
            class="slide"
            *ngFor="let cat of categorias"
            (click)="abrirCategoria(cat.nome)"
            tabindex="0"
            role="button"
          >
            <img
              [src]="cat.imagem"
              loading="lazy"
              decoding="async"
              [alt]="'Categoria: ' + cat.nome"
            />

            <div class="overlay">
              <span class="categoria">{{ cat.nome }}</span>
            </div>
          </div>
        </ng-container>

      </div>
    </div>

  </div>
</section>
